.table {
  width: 800px;
}

.table__row {
  text-align: center;
  height: 30px;
}

.table__row-header {
  font-weight: bold;
}

.table__cell {
  border: 1px solid #999;
  width: 200px;
  box-sizing: border-box;
}